<a href="https://colab.research.google.com/github/bhaskar4297/google_colab/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q !wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"
!pip install -q findspark
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Mounted at /content/drive

In [ ]:
df = spark.read.csv("/content/appl_stock.csv",inferSchema=True,header=True)

In [ ]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [ ]:
rdd=spark.sparkContext.textFile("/content/abcd.txt")
rdd.take(10)  #it is used for sampling

["['Types of tables in hive :',",
 "'1. Managed table or Internal Table ', ",
 "'data is managed and owned by hive ',",
 "'deleting table will delete the data as well',",
 "'as soon as you drop a table the underlying data also gets deleted along with the schema ',",
 "'its always stored in hive warehouse directory']"]

In [ ]:
#flatmap takes one input and gives multiple output
#map takes one input and gives one output
#df reads csv file
#rdd reads textfile
output=rdd.flatMap(lambda line: line.split(' ')).map (lambda word: (word,1)).reduceByKey(lambda x,y: x+y)
#output.take(10)
output.collect()   # return a list which contain all elements of RDD

[('of', 1),
 ('in', 2),
 ('hive', 3),
 (":',", 1),
 ("'1.", 1),
 ('Managed', 1),
 ("',", 3),
 ('', 1),
 ("'data", 1),
 ('is', 1),
 ('managed', 1),
 ('delete', 1),
 ('as', 2),
 ("well',", 1),
 ('underlying', 1),
 ('schema', 1),
 ("'its", 1),
 ('always', 1),
 ('stored', 1),
 ('warehouse', 1),
 ("['Types", 1),
 ('tables', 1),
 ('table', 3),
 ('or', 1),
 ('Internal', 1),
 ('Table', 1),
 ('and', 1),
 ('owned', 1),
 ('by', 1),
 ("'deleting", 1),
 ('will', 1),
 ('the', 3),
 ('data', 2),
 ("'as", 1),
 ('soon', 1),
 ('you', 1),
 ('drop', 1),
 ('a', 1),
 ('also', 1),
 ('gets', 1),
 ('deleted', 1),
 ('along', 1),
 ('with', 1),
 ("directory']", 1)]

In [ ]:
list=[1,2,3,4]
rdd=spark.sparkContext.parallelize(list) #it is use to convert any list to rdd
rdd.take(5)

[1, 2, 3, 4]

In [ ]:
a = 'my name sgsaa name my'
list=a.split(' ')
rdd=spark.sparkContext.parallelize(list)
rdd1=rdd.map(lambda word: (word,1)).reduceByKey( lambda x,y: x+y)
#rdd1.take(10)
repart_rdd=rdd1.repartition(10) #to increase or decrease no of partition
#it is not recommended to decrease partition using repartition
repart_rdd=rdd1.coalesce(4)     # to decrease no of partition
repart_rdd.getNumPartitions()   # to check no of partitions

2

In [ ]:
df = spark.read.csv("/content/appl_stock.csv",inferSchema=True,header=True)
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [ ]:
df.createOrReplaceTempView('temp')
spark.sql('desc temp').show()          #spark sql

+---------+---------+-------+
| col_name|data_type|comment|
+---------+---------+-------+
|     Date|   string|   null|
|     Open|   double|   null|
|     High|   double|   null|
|      Low|   double|   null|
|    Close|   double|   null|
|   Volume|      int|   null|
|Adj Close|   double|   null|
+---------+---------+-------+

In [ ]:
test=df.filter("Close>510")
test.show(100)

+----------+------------------+-----------------+------------------+-----------------+---------+-----------------+
|      Date|              Open|             High|               Low|            Close|   Volume|        Adj Close|
+----------+------------------+-----------------+------------------+-----------------+---------+-----------------+
|2012-02-21|506.88001299999996|       514.850021|504.12000300000005|       514.850021|151398800|        66.703738|
|2012-02-22|        513.079994|       515.489983|509.07002300000005|       513.039993|120825600|66.46923100000001|
|2012-02-23|        515.079987|       517.830009|        509.499992|516.3899769999999|142006900|        66.903253|
|2012-02-24| 519.6699980000001|       522.899979| 518.6400150000001|522.4099809999999|103768000|        67.683203|
|2012-02-27|        521.309982|            528.5| 516.2800139999999|       525.760017|136895500|        68.117232|
|2012-02-28|        527.960014|       535.410011|        525.850006|       535.410011|150096800|69.36748100000001|
|2012-02-29| 541.5600049999999|547.6100230000001|        535.700005|       542.440025|238002800|        70.278286|
|2012-03-01|        548.169983|       548.209984| 538.7699809999999|544.4699780000001|170817500|        70.541286|
|2012-03-02|        544.240013|       546.800018|        542.519974|       545.180008|107928100|        70.633277|
|2012-03-05|        545.420013|        547.47998|        526.000023|533.1600269999999|202281100|        69.075974|
|2012-03-06|        523.659996|       533.690025| 516.2199860000001|       530.259987|202559700|68.70024599999999|
|2012-03-07| 536.8000030000001|       537.779999|        523.299988|530.6900099999999|199630200|68.75595899999999|
|2012-03-08| 534.6899950000001|       542.989998|        532.120003|       541.989975|129114300|        70.219978|
|2012-03-09|        544.209999|       547.740013|        543.110001|       545.170021|104729800|70.63198299999999|
|2012-03-12| 548.9799879999999|       551.999977|        547.000023|       551.999977|101820600|        71.516869|
|2012-03-13|        557.540024|           568.18|        555.750023|       568.099998|172713800|73.60278100000001|
|2012-03-14|        578.050026|       594.719994|        575.399979|       589.580009|354711000|76.38572099999999|
|2012-03-15| 599.6099849999999|       600.009995|        578.550011|585.5599980000001|289929500|         75.86489|
|2012-03-16| 584.7199780000001|       589.199974| 577.9999849999999|       585.569984|206371900|75.86618399999999|
|2012-03-19|         598.37001|601.7699809999999|        589.050011|       601.100006|225309000|        77.878247|
|2012-03-20|         599.51001|       606.899979|        591.480026|       605.959984|204165500|        78.507903|
|2012-03-21|         602.73999|       609.650002| 601.4100269999999|602.4999849999999|161010500|        78.059627|
|2012-03-22|        597.779984|       604.499977|        595.529999|599.3400190000001|155967700|        77.650224|
|2012-03-23|        600.490005|       601.799995|        594.399986|       596.050011|107622200|        77.223972|
|2012-03-26|        599.790016|       607.150024|        595.259979|        606.97998|148935500|        78.640054|
|2012-03-27|        606.180016|       616.280006|        606.060013|614.4800190000001|151782400|        79.611755|
|2012-03-28| 618.3799740000001|       621.450005| 610.3099900000001|        617.62001|163865100|        80.018571|
|2012-03-29|        612.780006|       616.560013|        607.230026|609.8599929999999|152059600|        79.013187|
|2012-03-30| 608.7699809999999|       610.559982|        597.939987|       599.550011|182759500|         77.67743|
|2012-04-02|        601.830009|       618.769997|         600.37999|618.6300200000001|149587900|        80.149428|
|2012-04-03|        627.300018|       632.209984|        622.510002|       629.319984|208639900|        81.534415|
|2012-04-04|        624.349991|625.8599849999999|        617.000023|624.3099900000001|143245200|        80.885322|
|2012-04-05|        626.980011|634.6600269999999|        623.400009|       633.679977|160324500|        82.099293|
|2012-04-09|        626.130005|       639.840012|        625.300026|       636.229996|149384200|        82.429673|
|2012-04-10|            639.93|            644.0| 626.0000150000001|       628.440018|222431300|        81.420407|
|2012-04-11|        636.199982|        636.87001|        623.339981|        626.20002|174153700|        81.130193|
|2012-04-12|        624.999992|       631.330017|        620.500023|622.7699809999999|153584200|        80.685799|
|2012-04-13| 624.1099849999999|       624.700012|        603.509995|        605.22998|214911200|        78.413325|
|2012-04-16| 610.0599980000001|       610.279976|        578.249977|580.1300200000001|262696700|        75.161385|
|2012-04-17|         578.93998|       610.000023|        571.910019|       609.699989|256382000|        78.992457|
|2012-04-18|        613.720001|       620.249977|        602.709976|       608.340012|238632800|        78.816259|
|2012-04-19| 600.2199860000001|       604.729996|        584.519974|       587.439987|208679800|        76.108461|
|2012-04-20|        591.379997|       594.620018| 570.4199980000001|       572.980003|257746300|74.23503199999999|
|2012-04-23|        570.610016|       576.670021|        556.620003|       571.699974|241632300|        74.069192|
|2012-04-24| 562.6099929999999|567.6900019999999|        554.999992|       560.280006|269037300|        72.589626|
|2012-04-25|        615.639992|       617.999992| 605.9999849999999|       610.000023|226444400|        79.031329|
|2012-04-26|        614.269974|614.6900099999999|         602.12999|607.6999969999999|134017100|        78.733339|
|2012-04-27|        605.069977|       606.180016|        600.499992|       603.000023|101680600|        78.124412|
|2012-04-30|        597.800011|       598.400024|        582.999992|583.9799879999999|126536200|        75.660185|
|2012-05-01|        584.900009|       596.759987| 581.2300190000001|       582.130013|152749800|        75.420503|
|2012-05-02|        580.239983|       587.399986| 578.8599780000001|        585.97998|106847300|        75.919303|
|2012-05-03|        590.499977|       591.400024|        580.300011|       581.819992| 97637400|        75.380337|
|2012-05-04|        577.080017|578.3599929999999| 565.1699980000001|           565.25|132498100|        73.233536|
|2012-05-07|        561.500008|572.7700120000001| 561.2299879999999|       569.480003|115029600|73.78157399999999|
|2012-05-08|        569.579979|       571.500023|        558.730011|           568.18|124313000|        73.613146|
|2012-05-09|        563.700005|       573.980026|        560.850006|       569.180023|120176000|        73.742708|
|2012-05-10|        574.579987|        575.87999|         568.43998|       570.519974| 83300000|        73.916312|
|2012-05-11|        565.000008|       574.470024|        564.350006|       566.710007| 99886500|73.42269399999999|
|2012-05-14|        562.569992|       567.510025|        557.599998|558.2199860000001| 88156600|        72.322731|
|2012-05-15|         561.45002|       563.219994| 551.7499849999999|       553.169991|119084000|        71.668456|
|2012-05-16|        554.050011|556.8900219999999|        541.039993|546.0800019999999|140224000|         70.74988|
|2012-05-17| 545.3099980000001|       547.500008|         530.12001|        530.12001|179305000|68.68211099999999|
|2012-05-18| 533.9599910000001|543.4099809999999|        522.180016|        530.37999|183073100|        68.715793|
|2012-05-21|        534.499977|561.5400089999999|         534.04998|       561.279976|157776500|72.71918199999999|
|2012-05-22|        569.550018|       573.879997|        552.580017|       556.970024|173717600|        72.160786|
|2012-05-23|        557.500023|       572.800026| 553.2300190000001|       570.559975|146224400|        73.921494|
|2012-05-24|        575.870003|       576.499977| 561.2299879999999|       565.320015|124057500|73.24260699999999|
|2012-05-25|        564.590012|       565.850014| 558.4699780000001|       562.289986| 82126800|        72.850038|
|2012-05-29|        570.900009|            574.0|        565.309975|       572.269974| 95127200|        74.143041|
|2012-05-30| 569.1999969999999|        579.98999| 566.5599900000001|579.1699980000001|132357400|75.03700500000001|
|2012-05-31|        580.740021|581.4999849999999|        571.460022|577.7300190000001|122918600|        74.850442|
|2012-06-01|        569.159996|       572.650009| 560.5200120000001|       560.989983|130246900|72.68160999999999|
|2012-06-04|        561.500008|567.4999849999999|        548.499977|       564.289978|139248900|        73.109156|
|2012-06-05|        561.269989|       566.470001| 558.3300019999999|       562.830025| 97053600|        72.920005|
|2012-06-06|        567.770004|       573.849983|        565.499992|       571.460022|100363900|        74.038104|
|2012-06-07| 577.2900089999999|       577.320023|             570.5|       571.720001| 94941700|        74.071787|
|2012-06-08|        571.599998|       580.580017|        568.999992|       580.319984| 86879100|        75.185997|
|2012-06-11|        587.719994|588.4999849999999|         570.62999|       571.169975|147816200|74.00052600000001|
|2012-06-12|        574.459984|576.6199799999999|         566.70002|       576.159996|108845100|         74.64703|
|2012-06-13| 574.5200120000001|       578.479996|        570.379997|       572.160011| 73395000|        74.128794|
|2012-06-14|         571.23999|573.5000150000001|        567.259979|       571.529984| 86393300|        74.047168|
|2012-06-15| 570.9999849999999|       574.619987|        569.550018|        574.12999| 83813800|        74.384024|
|2012-06-18|        570.959984|       587.889984|         570.37001|       585.779976|110103000|75.89339100000001|
|2012-06-19|        583.400002|       589.999992|        583.100021|587.4100269999999| 90351100|        76.104579|
|2012-06-20| 588.2099910000001|589.2500150000001|        580.799995|       585.739975| 89735800|75.88820799999999|
|2012-06-21| 585.4399950000001|588.2199780000001|        577.440025|       577.669991| 81587800|        74.842665|
|2012-06-22| 579.0400089999999|       582.189987|        575.420006|       582.099998| 71117900|        75.416614|
|2012-06-25|        577.299995|       579.800026|         570.37001|        570.77002| 76095600|        73.948707|
|2012-06-26|        571.329979|       574.489998|        567.329994|572.0300219999999| 69134100|        74.111953|
|2012-06-27|        575.000023|       576.739983|        571.920006|574.4999849999999| 50749300|         74.43196|
|2012-06-28|        571.670013|            574.0|        565.610008|        569.04998| 70709100|         73.72586|
|2012-06-29| 577.9999849999999|584.0000150000001|        574.249992|584.0000150000001|105375200|         75.66278|
|2012-07-02| 584.7300190000001|593.4699780000001|        583.600006|       592.519997|100023000|        76.766625|
|2012-07-03|        594.879997|       600.000008|        593.999977|599.4099809999999| 60428200|        77.659288|
|2012-07-05|         600.56002|       614.339989|        599.649986|609.9399950000001|121095800|        79.023552|
|2012-07-06|        607.089996|       608.439987|        601.580017|       605.879982|104732600|        78.497538|
|2012-07-09|        605.299995|       613.899979|        604.110008|       613.889992| 94851400|        79.535312|
|2012-07-10| 617.9699780000001|       619.869995|        605.309982|       608.210022|127989400|        78.799417|
|2012-07-11|        606.119987|       607.659996|        597.220024|       604.430016|117330500|78.30968100000001|
|2012-07-12|        600.240013|       603.469994|            592.68|       598.900009|107010400|        77.593216|
+----------+------------------+-----------------+------------------+-----------------+---------+-----------------+
only showing top 100 rows

In [ ]:
df.filter((df['Low'] < 200) & (df['open'] > 200)).show()

+----------+------------------+----------+----------+----------+---------+------------------+
|      Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+----------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-27|        206.849995|    210.58|199.530001|207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
|2010-02-22|        202.339998|202.500002|199.190006|200.419994| 97640900|         25.966324|
|2010-05-06|        253.830002|258.249996|199.249994|246.249989|321465200|         31.904038|
+----------+------------------+----------+----------+----------+---------+------------------+

In [ ]:
df.filter((df['Low'] < 200) | (df['open'] > 200)).show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [ ]:
a ='types of tables in hive Managed table or Internal Table data is managed and owned by hive deleting table will delete the data as well as soon as you drop a table the underlying data also gets deleted along with the schema its always stored in hive warehouse directory'
list=a.split(' ')
rdd=spark.sparkContext.parallelize(list)
rdd1=rdd.map(lambda word: (word,1)).reduceByKey( lambda x,y: x+y)
rdd2=rdd1.repartitionAndSortWithinPartitions(4)
rdd2.getNumPartitions()
rdd2.glom().collect()

[[('directory', 1),
  ('in', 2),
  ('managed', 1),
  ('of', 1),
  ('stored', 1),
  ('warehouse', 1)],
 [('a', 1),
  ('along', 1),
  ('and', 1),
  ('by', 1),
  ('deleting', 1),
  ('drop', 1),
  ('gets', 1),
  ('owned', 1),
  ('table', 3),
  ('the', 3),
  ('types', 1),
  ('you', 1)],
 [('Managed', 1),
  ('always', 1),
  ('as', 3),
  ('delete', 1),
  ('hive', 3),
  ('is', 1),
  ('schema', 1),
  ('underlying', 1)],
 [('Internal', 1),
  ('Table', 1),
  ('also', 1),
  ('data', 3),
  ('deleted', 1),
  ('its', 1),
  ('or', 1),
  ('soon', 1),
  ('tables', 1),
  ('well', 1),
  ('will', 1),
  ('with', 1)]]

In [ ]:
rdd1.repartition(4).glom().collect()

[[('always', 1), ('stored', 1), ('warehouse', 1), ('directory', 1)],
 [('types', 1),
  ('tables', 1),
  ('table', 3),
  ('or', 1),
  ('Internal', 1),
  ('Table', 1),
  ('data', 3),
  ('and', 1),
  ('owned', 1),
  ('by', 1)],
 [('deleting', 1),
  ('will', 1),
  ('the', 3),
  ('well', 1),
  ('soon', 1),
  ('you', 1),
  ('drop', 1),
  ('a', 1),
  ('also', 1),
  ('gets', 1)],
 [('of', 1),
  ('in', 2),
  ('hive', 3),
  ('Managed', 1),
  ('is', 1),
  ('managed', 1),
  ('delete', 1),
  ('as', 3),
  ('underlying', 1),
  ('schema', 1),
  ('deleted', 1),
  ('along', 1),
  ('with', 1),
  ('its', 1)]]

In [ ]:
rdd=spark.sparkContext.textFile("/content/abcd.txt")
rdd1=rdd.flatMap(lambda line: line.split(' ')).map (lambda word: (word,1)).reduceByKey(lambda x,y: x+y)
rdd2=rdd1.repartitionAndSortWithinPartitions(4)
rdd2.getNumPartitions()
rdd2.glom().collect()

[[('', 1),
  ("',", 3),
  (":',", 1),
  ('in', 2),
  ('managed', 1),
  ('of', 1),
  ('stored', 1),
  ('warehouse', 1)],
 [("'deleting", 1),
  ('a', 1),
  ('along', 1),
  ('and', 1),
  ('by', 1),
  ("directory']", 1),
  ('drop', 1),
  ('gets', 1),
  ('owned', 1),
  ('table', 3),
  ('the', 3),
  ('you', 1)],
 [("'1.", 1),
  ("'data", 1),
  ("'its", 1),
  ('Managed', 1),
  ('always', 1),
  ('as', 2),
  ('delete', 1),
  ('hive', 3),
  ('is', 1),
  ('schema', 1),
  ('underlying', 1),
  ("well',", 1)],
 [("'as", 1),
  ('Internal', 1),
  ('Table', 1),
  ("['Types", 1),
  ('also', 1),
  ('data', 2),
  ('deleted', 1),
  ('or', 1),
  ('soon', 1),
  ('tables', 1),
  ('will', 1),
  ('with', 1)]]

In [ ]:
df_date_close=df.select('Date','Close')  #queries
df_date_close.show()

+----------+------------------+
|      Date|             Close|
+----------+------------------+
|2010-01-04|        214.009998|
|2010-01-05|        214.379993|
|2010-01-06|        210.969995|
|2010-01-07|            210.58|
|2010-01-08|211.98000499999998|
|2010-01-11|210.11000299999998|
|2010-01-12|        207.720001|
|2010-01-13|        210.650002|
|2010-01-14|            209.43|
|2010-01-15|            205.93|
|2010-01-19|        215.039995|
|2010-01-20|            211.73|
|2010-01-21|        208.069996|
|2010-01-22|            197.75|
|2010-01-25|        203.070002|
|2010-01-26|        205.940001|
|2010-01-27|        207.880005|
|2010-01-28|        199.289995|
|2010-01-29|        192.060003|
|2010-02-01|        194.729998|
+----------+------------------+
only showing top 20 rows

In [ ]:
df_date_close=df.select('Date','Close').filter("Close>500")
df_date_close.show()

+----------+------------------+
|      Date|             Close|
+----------+------------------+
|2012-02-13|502.60002099999997|
|2012-02-14|        509.459991|
|2012-02-16|502.20999900000004|
|2012-02-17|         502.12001|
|2012-02-21|        514.850021|
|2012-02-22|        513.039993|
|2012-02-23| 516.3899769999999|
|2012-02-24| 522.4099809999999|
|2012-02-27|        525.760017|
|2012-02-28|        535.410011|
|2012-02-29|        542.440025|
|2012-03-01| 544.4699780000001|
|2012-03-02|        545.180008|
|2012-03-05| 533.1600269999999|
|2012-03-06|        530.259987|
|2012-03-07| 530.6900099999999|
|2012-03-08|        541.989975|
|2012-03-09|        545.170021|
|2012-03-12|        551.999977|
|2012-03-13|        568.099998|
+----------+------------------+
only showing top 20 rows

In [ ]:
result=df.filter(df["Low"]==197.16).collect() #by using collect it will convert to list
#result=df.select('Date').collect()
rdd=spark.sparkContext.parallelize(result)
#type(result)
rdd.take(10)

[Row(Date='2010-01-22', Open=206.78000600000001, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)]

In [ ]:
row=result[0]
row.asDict()

{'Date': '2010-01-22',
 'Open': 206.78000600000001,
 'High': 207.499996,
 'Low': 197.16,
 'Close': 197.75,
 'Volume': 220441900,
 'Adj Close': 25.620401}

In [ ]:
from pyspark.sql.functions import dayofmonth,format_number,dayofyear,month,year,weekofyear,date_format

In [ ]:
df.select(month(df["Date"])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [ ]:
df.select(dayofmonth(df['Date']), 'High').show()

+----------------+------------------+
|dayofmonth(Date)|              High|
+----------------+------------------+
|               4|        214.499996|
|               5|        215.589994|
|               6|            215.23|
|               7|        212.000006|
|               8|        212.000006|
|              11|        213.000002|
|              12|209.76999500000002|
|              13|210.92999500000002|
|              14|210.45999700000002|
|              15|211.59999700000003|
|              19|215.18999900000003|
|              20|        215.549994|
|              21|213.30999599999998|
|              22|        207.499996|
|              25|        204.699999|
|              26|        213.710005|
|              27|            210.58|
|              28|        205.500004|
|              29|        202.199995|
|               1|             196.0|
+----------------+------------------+
only showing top 20 rows

In [ ]:
df.select(weekofyear(df['Date']), 'high','Date').show()

+----------------+------------------+----------+
|weekofyear(Date)|              high|      Date|
+----------------+------------------+----------+
|               1|        214.499996|2010-01-04|
|               1|        215.589994|2010-01-05|
|               1|            215.23|2010-01-06|
|               1|        212.000006|2010-01-07|
|               1|        212.000006|2010-01-08|
|               2|        213.000002|2010-01-11|
|               2|209.76999500000002|2010-01-12|
|               2|210.92999500000002|2010-01-13|
|               2|210.45999700000002|2010-01-14|
|               2|211.59999700000003|2010-01-15|
|               3|215.18999900000003|2010-01-19|
|               3|        215.549994|2010-01-20|
|               3|213.30999599999998|2010-01-21|
|               3|        207.499996|2010-01-22|
|               4|        204.699999|2010-01-25|
|               4|        213.710005|2010-01-26|
|               4|            210.58|2010-01-27|
|               4|        205.500004|2010-01-28|
|               4|        202.199995|2010-01-29|
|               5|             196.0|2010-02-01|
+----------------+------------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import lit            #df is mutable
people_df=spark.read.csv('/content/abcde.csv',inferSchema=True,header=True)
#people_df.show()
people_df=people_df.withColumn('new age' ,people_df["age"]-5).withColumn('team' ,lit('India'))
people_df=people_df.withColumnRenamed('new age', 'debut age')
people_df.filter(lit(1)==lit(2)).show()
people_df.show()

AnalysisException: ignored

In [ ]:
people_df.createOrReplaceTempView('people')
spark.sql("select * from people where `debut age` < 30").show()

+----------+---+---------+-----+
|first_name|age|debut age| team|
+----------+---+---------+-----+
|   bhaskar| 25|       20|India|
|     akash| 26|       21|India|
|   bhavesh| 26|       21|India|
|   vinamra| 26|       21|India|
+----------+---+---------+-----+

In [ ]:
sales_df=spark.read.csv('/content/sales_info.csv',inferSchema=True,header=True)
#sales_df.orderBy(sales_df["Sales"]).show()
#sales_df.orderBy(sales_df["Sales"].desc()).show()
sales_df=sales_df.withColumn('half yearly sales' ,sales_df["sales"]/2).show()

+-------+-------+-----+-----------------+
|Company| Person|Sales|half yearly sales|
+-------+-------+-----+-----------------+
|   GOOG|    Sam|200.0|            100.0|
|   GOOG|Charlie|120.0|             60.0|
|   GOOG|  Frank|340.0|            170.0|
|   MSFT|   Tina|600.0|            300.0|
|   MSFT|    Amy|124.0|             62.0|
|   MSFT|Vanessa|243.0|            121.5|
|     FB|   Carl|870.0|            435.0|
|     FB|  Sarah|350.0|            175.0|
|   APPL|   John|250.0|            125.0|
|   APPL|  Linda|130.0|             65.0|
|   APPL|   Mike|750.0|            375.0|
|   APPL|  Chris|350.0|            175.0|
+-------+-------+-----+-----------------+

In [ ]:
sales_df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [ ]:
sales_df.groupBy('Company').mean('Sales').show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [ ]:
sales_df.groupBy('Company').max('Sales').show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [ ]:
sales_df.agg({'Sales':'mean'}).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [ ]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [ ]:
sales_df.select(avg('Sales')).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [ ]:
sales_df.select(stddev('Sales')).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

In [ ]:
from pyspark.sql.functions import when           #df is mutable
people_df=spark.read.csv('/content/abcde.csv',inferSchema=True,header=True)
#people_df.show()
people_df=people_df.withColumn('new age' ,people_df["age"]-5).withColumn('team' ,lit('India'))
people_df=people_df.withColumnRenamed('new age', 'debut age')
people_df.filter(lit(1)==lit(2)).show()
people_df.show()

+----------+---+---------+----+
|first_name|age|debut age|team|
+----------+---+---------+----+
+----------+---+---------+----+

+----------+---+---------+-----+
|first_name|age|debut age| team|
+----------+---+---------+-----+
|   bhaskar| 25|       20|India|
|     akash| 26|       21|India|
|   bhavesh| 26|       21|India|
|   vinamra| 26|       21|India|
+----------+---+---------+-----+

In [ ]:
from pyspark.sql.functions import when        
df=spark.read.csv('/content/abdf.csv',inferSchema=True,header=True)
df2 = df.withColumn("ipl_team", when(df.last_name == "dhoni","csk").when(df.last_name == "singh","mi").otherwise(lit('Team india')))
df2.show()

+----------+---------+---+---------+-----+--------------+----------+
|first_name|last_name|age|Debut_age| Team|matches_played|  ipl_team|
+----------+---------+---+---------+-----+--------------+----------+
|        ms|    dhoni| 40|       22|india|           200|       csk|
|    yuvraj|    singh| 38|       21|india|           150|        mi|
|     rohit|   sharma| 33|       19|india|           275|Team india|
|     virat|    kohli| 32|       18|india|           225|Team india|
|suryakumar|    yadav| 30|       32|india|            30|Team india|
|   rishabh|     pant| 25|       18|india|            60|Team india|
+----------+---------+---+---------+-----+--------------+----------+

In [ ]:
df = spark.read.csv("/content/walmart_stock.csv",inferSchema=True,header=True)
df.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

In [ ]:
df = spark.read.csv("/content/CA_category_id.json",inferSchema=True,header=True)
df.show()

+--------------------+
|                   {|
+--------------------+
| "kind": "youtube...|
| "etag": "\"ld9bi...|
|          "items": [|
|                   {|
|   "kind": "youtu...|
|   "etag": "\"ld9...|
|           "id": "1"|
|        "snippet": {|
|    "channelId": ...|
|    "title": "Fil...|
|    "assignable":...|
|                   }|
|                   }|
|                   {|
|   "kind": "youtu...|
|   "etag": "\"ld9...|
|           "id": "2"|
|        "snippet": {|
|    "channelId": ...|
|    "title": "Aut...|
+--------------------+
only showing top 20 rows